body {
    background: url("../img/backgroundlogin.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3 {
     text-align: center;
     color: goldenrod;
}

#login {
    margin-top: 150px;
    border: 1px dotted red;
    padding: 50px 10px 50px 10px;
    color: white;
}

.error {
    color: red;
    text-align: center;
}
