.user {
    display: none;
    text-align: center;
}

.nav-wrapper {
    background-color: goldenrod;
}

.brand-logo {
    text-shadow: 0px 0px 10px black;
}

.circle {
    width: 64px;
    height: 64px;
}
